*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

header{
    width: 100vw;
    height: 40vh;
    background-image: url(media/bg.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-section{
    width: 100%;
}
#header-up{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
    height: 15%;
}
#left{

    color: #b91be9;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
sup{
    color: #e58fff;
    font-weight: bold;
    font-size: 1rem;

}
#left i{
    font-weight: bold;
    padding-right: 0.5em;
    cursor: pointer;
}
#left h1{
    cursor: pointer;
}
#right button{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 0.3em 1em;
    color: white;
    font-weight: 500;
    margin-left: 2em;
    cursor: pointer;
}
#log-in-btn{
    color: #e58fff;
}
#header-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    height: 85%;
}
#site-pic{
    height: 100%;
    width: auto;
    margin-left: 1em;
    margin-bottom: 2em;
}
#header-text{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#header-text h2{
    font-size: 1.8rem;
}
#learn-btn{
    padding: 1em 2em;
    border-radius: 10px;
    border: none;
    background: linear-gradient(
    20deg,
    #b702c4e1 0%,
    #1acdffd0 100%);
    font-weight: bold;
    cursor: pointer;
    color: #ffffffe1;
    transition: transform 0.4s ease;
}
#hidden-pic{
    display: none;
}
#learn-btn:hover,
.more-box:hover div, 
#show-more:hover,
#download:hover{
    background: linear-gradient(
    20deg,
     #ee00ff 0%,
     #00c8ff 100%);
     color: white;  
     transform: translateY(-5px);  
}
#right button:hover{
    background: linear-gradient(
    120deg,
    #ffffff1f 0%,
    #ffffff2c 100%);
    box-shadow: 0px 0px 10px 1px #ffffff65;
}
#learn{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2em;
}
#languages{
    height: auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0;
}
.circle{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 5px 2px #80808046;
}
.lng-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.4s ease;
}
.lng, .more{
    font-weight: bold;
    color: #6e6e6e;
}
.more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
    20deg,
    #b702c4e1 0%,
    #1acdffd0 100%);
    color: #ffffffe1;
    cursor: pointer;
}
.lng-box:hover p{
    text-shadow: 1px 1px 2px #80808086;
}
.lng-box:hover{
    transform: translateY(-5px);
}
.lng-box:hover div{
    box-shadow: 1px 1px 5px 2px #5c5c5c86;

}
.uk{
    background-image: url(media/english.png);
}
.spain{
    background-image: url(media/spanish.png);
}
.france{
    background-image: url(media/franch.png);
}
.germany{
    background-image: url(media/german.png);
}
.s-korea{
    background-image: url(media/koreean.webp);
}
.arabia{
    background-image: url(media/arabic.png);
}
.russia{
    background-image: url(media/rusian.webp);
}
.italy{
    background-image: url(media/italian.webp);
}
.turkey{
    background-image: url(media/turkish.webp);
}
.china{
    background-image: url(media/chinese.png);
}
.japan{
    background-image: url(media/japanese.png);
}
.portugal{
    background-image: url(media/portuguese.png);
}
.poland{
    background-image: url(media/polish.webp);
}
.netherlands{
    background-image: url(media/dutch.png);
}
.greece{
    background-image: url(media/greek.jpg);
}
.finland{
    background-image: url(media/finish.webp);
}
.czech{
    background-image: url(media/czech.webp);
}
.sweeden{
    background-image: url(media/swedish.png);
}
.slovakia{
    background-image: url(media/slovak.png);
}
.india{
    background-image: url(media/hindi.webp);
}

#breake{
    background: linear-gradient(
    20deg,
    #510aadfa 0%,
    #b702c488 50%,
    #0992eed7 100%);
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
    font-weight: bold;
    padding: 4em 1em;
}
.numb1st{
    font-size: 2rem;
}
.numb2nd{
    color: purple;
    font-size: 1.1rem;
    text-align: center;
}
.fa-star{
    font-size: 1.3rem;
}
.numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
}
#score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
}

#topic-section{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
#topic-box{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
}
.topic{
    box-shadow: 1px 1px 3px 1px #8080803b;
    cursor: pointer;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    gap: 1em;
    background-color: #ffffffbe;
    margin: 0 auto;
    transition: transform 0.4s ease;
}
.topic:hover{
    box-shadow: 1px 1px 5px 1px #4e4e4e5d;
    transform: translateY(-5px);
    font-weight: bold;
    color: purple;
}
.topic:active{
    background-color: #e7e7e7ef;
}
.topic-icon{
    font-size: 2.3rem;
}

#show-more, 
#download{
    padding: 1em 2em;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    background: linear-gradient(
    20deg,
    #b702c4e1 0%,
    #1acdffd0 100%);
    font-weight: bold;
    cursor: pointer;
    color: #ffffffe1;
    box-shadow: 1px 1px 5px 1px #4e4e4e5d;
    transition: transform 0.4s ease;
}
#show-more:hover, 
#download:hover{
    text-decoration: underline;
    box-shadow: 2px 2px 5px 1px #4e4e4ecb;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 35vh;
    gap: 6em;
    padding: 0 2em;
}
.text-box{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 400px;
    height: 90%;
    gap: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: #ffffffbe;
    box-shadow: 1px 1px 3px 1px #8080803b;

}
.main-img{
    width: 540px;
    height: 90%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #8080803b;
}
#vocabulary{
    flex-direction: row-reverse;
}
#chat{
    background-image: url(media/app1.png);
}
#app{
    background-image: url(media/app2.png);
}
#video-call{
    background-image: url(media/videocall.webp);
}
.tb-title{
    color: purple;
}
hr{
    border: 1px solid rgba(128, 128, 128, 0.493);
    width: 90vw;
    border-top: none;
}

#download{
    padding: 1em 1.5em;
    font-size: 1.5rem;
}

#reviews{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
#rev-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    height: 500px;
    gap: 2em;
}
.rev{
    height: 45%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2em;
    border-radius: 15px;
    padding: 1em;
    background-color: #F9F9F9;
    box-shadow: 
    1px 1px 4px 2px #e6e6e62f,
    2px 5px 3px 5px #ffffff5e;
    
}
.shortNstars{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 10px;
}
.rev-stars i{
    color: #ff9e0c;
}
.rev-short{
    font-weight: bold;
    font-size: 1.3rem;
}
#app-store img{
    height: auto;
    width: 100px;
    cursor: pointer;
}
#app-store{
    display: flex;
    flex-direction: row;
}
footer{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7em;
    background: linear-gradient(
        20deg,
        #8930BE 0%,
        #D374D6 50%,
        #6390E5 100%
    );
}
.footer-content{
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.footer-container{
    width: auto;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 150px;
    gap: 0.1em;
}
.footer-container p{
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}
.footer-container small:hover, 
.footer-bottom small span:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #000000;
}
.footer-bottom small{
    color: #000000a8;
}



@media (max-width:1440px){
    .footer-content{
        width: 750px;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer{
        height: 50vh;
        gap: 2em;
    }
}
@media (max-width:1082px){
    #breake{
        gap: 3em;
    }
}
@media (max-width:1024px){
    #site-pic{
        height: 80%;
    }
    #header-text h2{
        font-size: 1.4rem;
    }
    #header-text h3{
        font-size: 1rem;
    }
    #site-pic{
        display: none;
    }
    #hidden-pic{
        display: block;
        mix-blend-mode: multiply; 
        background-color: transparent;
        height: 45%;
        filter: contrast(130%);
    }
    #header-bottom{
        flex-direction: column-reverse;
    }
    #breake{
        gap: 1.5em;
        flex-wrap: wrap;
    }
    .topic{
        width: 250px;
    }
    .main-content{
        gap: 3em;
    }
    .text-box{
        width: 300px;
        height: 80%;
        justify-content: center;
        gap: 0.5em;
    }
    .main-img{
        width: 400px;
        height: 80%;
    }
    #chat{
        background-size: 140%;
    }
    #rev-box{
        width: 750px;
        height: 550px;
        gap: 1em;
    }
    .rev{
        height: 45%;
        gap: 1em;
        padding: 1em;
    }
    .shortNstars{
        gap: 0.4em;
        
    }
    .rev-stars i{
        font-size: 18px;
    }


}
@media (max-width:768px){
    .numb1st{
        font-size: 1.5rem;
    }
    .numb2nd{
        font-size: 0.9rem;
    }
    .fa-star{
        font-size: 1rem;
    }
    .topic{
        width: 200px;
        padding: 0 0.5em;
    }
    .topic-icon{
        font-size: 1.5rem;
    }
    #topic-box{
        gap: 0.5em;
    }
    #topic-text{
        text-align: center;
        padding: 0 0.5em;
    }
    .main-content{
        flex-direction: column;
        height: auto;
    }
    .main-img, .text-box{
        height: 250px;
        width: 300px;
    }
    #chat{
        background-size: cover;
    }
    #vocabulary{
        flex-direction: column;
    }
    #reviews{
        height: auto;
    }
    #rev-box{
        width: 425px;
        height: auto;
        gap: 1em;
        flex-wrap: wrap;
    }
    .rev{
        height: 255px;
        width: 200px;
    }
    .site-logo{
        display: none;
    }
    .footer-content{
       width: 420px;
       gap: 1em;
    }
    .footer-container{
        height: auto;
    }

}
@media (max-width:600px){
    #right{
        display: none;
    }
    .lng-box{
        width: 90px;
        height: 90px;
    }
    .circle{
        width: 50px;
        height: 50px;
    }
    #breake{
        padding: 2.5em 1em;
    }
    #topic-text{
        font-size: 1.5rem;
    }
}
@media (max-width:585px){
    .topic{
        width: 90%;
        height: 90px;
    }
}
@media (max-width:425px){
    #header-up{
        justify-content: center;
    }
    #header-text h2{
        font-size: 1.2rem;
    }
    #header-text h3{
        font-size: 0.9rem;
    }
    #learn-btn{
        font-size: 0.9rem;
    }
    .lng-box{
        width: 80px;
        height: 80px;
    }
    .circle{
        width: 40px;
        height: 40px;
    }
    #languages{
        gap: 0.5em;
        width: 90%;
    }
 
    #rev-box{
        width: 300px;
    }
    #reviews h1{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .footer-content{
       width: 300px;
    }
    footer{
        height: 100px;
    }
    .footer-bottom{
        text-align: center;
    }
}
